@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #ff00ff;
  --white-color: #ffffff;
  --black-color: #000000;
  --font-family-united-kingdom-demo: 'United Kingdom Demo', sans-serif;
  --font-family-exo: 'Exo', sans-serif;
  --font-family-rajdhani: 'Rajdhani', sans-serif;
}

@font-face {
  font-family: "United Kingdom Demo";
  src: local('United Kingdom Demo'), url("../src/assets/fonts/UnitedKingdomDemo.otf") format('truetype');
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font-family: sans-serif;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0px;
  min-height: 100%;
  background-color: #070707 !important;
  font-family: var(--font-family-united-kingdom-demo) !important;
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: var(--font-family-united-kingdom-demo) !important;
}

a {
  color: var(--black-color);
  font-weight: 400;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-size-14 {
  font-size: 14px;
}

.uppercase {
  text-transform: uppercase;
}

.mb-16 {
  margin-bottom: 16px;
}

.text-small {
  font-family: var(--font-family-exo);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.container {
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  min-height: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
  position: relative;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}