@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #ff00ff;
  --white-color: #ffffff;
  --black-color: #000000;
  --font-family-united-kingdom-demo: 'United Kingdom Demo', sans-serif;
  --font-family-exo: 'Exo', sans-serif;
  --font-family-rajdhani: 'Rajdhani', sans-serif;
}

@font-face {
  font-family: "United Kingdom Demo";
  src: local('United Kingdom Demo'), url("../src/assets/fonts/UnitedKingdomDemo.otf") format('truetype');
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font-family: sans-serif;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  background-color: #070707 !important;
  font-family: var(--font-family-united-kingdom-demo) !important;
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: var(--font-family-united-kingdom-demo) !important;
}

a {
  color: var(--black-color);
  font-weight: 400;
  text-decoration: none;
}

sub {
  bottom: -.25em;
}

sub,
sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.section {
  color: var(--white);
  background-color: transparent;
  width: 100%;
  min-height: 16px;
  padding-top: 192px;
  padding-bottom: 192px;
  padding-left: 0;
  position: relative;
}

.content-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 16px;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-size-14 {
  font-size: 14px;
}

.uppercase {
  text-transform: uppercase;
}

.mb-16 {
  margin-bottom: 16px;
}

.bold {
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.container {
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  min-height: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
  position: relative;
  color: white;
}

._12-column-grid {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-rows: auto;
  grid-template-columns: minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr);
  grid-auto-columns: 1fr;
  align-content: end;
  align-items: center;
  width: 100%;
  display: grid;
  position: relative;
}

._12-column-grid.gap-1-rem {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.text-small {
  font-family: var(--font-family-exo);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.text-medium {
  font-family: var(--font-family-exo);
  max-width: 75ch;
  font-size: 24px;
  font-weight: 100;
}

.text-huge {
  color: var(--white-color);
  letter-spacing: -1.6px;
  text-transform: uppercase;
  max-width: 12ch;
  font-size: 6vw;
  font-weight: 500;
  line-height: .9;
}

.button-wrapper {
  grid-column-gap: 4rem;
  border: 2px solid var(--white-color);
  color: var(--secondary-color);
  border-radius: 20px;
  padding: 20px 32px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .text-medium {
    font-size: 24px;
  }

  ._12-column-grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr) minmax(16px, 1fr);
  }

  .text-small.uppercase {
    text-align: left;
  }

  .text-huge {
    font-size: 6vw;
}
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .text-medium {
    font-size: 20px;
  }

  ._12-column-grid {
    grid-template-columns: minmax(16px, 1fr) minmax(16px, 1fr);
    align-items: end;
  }

  .text-small.uppercase {
    font-size: .75rem;
  }

  .text-huge {
    font-size: 7vw;
    line-height: .95;
}
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  ._12-column-grid {
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr;
  }


  .text-small.uppercase {
    text-align: left;
  }

  .content-wrapper {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.text-huge {
  font-size: 9vw;
  line-height: 1;
}
}